﻿
@{
    ViewBag.Title = "Index";
}
<h3>Average Age Of Employees:<b> @ViewBag.AverageAge</b> </h3>
<br />
<h3>Average Salary Of Employees: <b> @ViewBag.AverageSalary</b></h3>
<br />

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Above/Below the average salary</th>
        <th>Age</th>
        <th>Above/Below the average age</th>
        <th>Image</th>
    </tr>
    @for (int i = 0; i < @ViewBag.dtEmployee.Rows.Count; i++)
    {
        <tr>
            <td>@ViewBag.dtEmployee.Rows[i]["employee_name"]</td>
            <td>@ViewBag.dtEmployee.Rows[i]["employee_salary"]</td>
            <td>@ViewBag.dtEmployee.Rows[i]["average_salary"]</td>
            <td>@ViewBag.dtEmployee.Rows[i]["employee_age"]</td>
            <td>@ViewBag.dtEmployee.Rows[i]["average_age"]</td>
            <td>@ViewBag.dtEmployee.Rows[i]["profile_image"]</td>
        </tr>
    }
</table>

